body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #333;
    background-image: url('fondo.webp');
    /*border-radius: 80%; */
    /*background-size: cover;  Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: center;
    margin-bottom: 3cm;
}
header {
    background-color: #333;
    color: #fff;
    /*background-color: rgba(255, 255, 255, 0.8);  Fondo semi-transparente para mejorar la legibilidad del contenido */
    padding: 20px;
    /*background-color: #3498db; 
    color: #fff;*/
    text-align: center;
    padding: 1em;
}

h1 {
    color: #fff;
}
h2 {
    color: #333;
    font-style: italic;
    font-weight: 400;
}

#demo {
    font-style: italic;
    color: #fff;
}

section {
    margin: 20px;
    background-color: rgba(178, 178, 178, 0.3);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    padding: 20px;
}
#contacto {
  max-width: 300px;  /* Establece el ancho máximo de la sección */
  margin: 30 auto;   /* Centra la sección horizontalmente */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0009;
    transition: color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #2072a2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */

@media screen and (max-width: 600px) {
    section {
        margin: 10px;
    }
}

/* Agrega estilos para el cambio de cursor */
#cursorTitle {
    cursor: pointer;
    color: #fff;
}
.linkedin-button {
    background-color: #0077B5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.linkedin-button:hover {
    background-color: #005180;
}

nav {
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin-right: 20px;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

/*Aca comienza las tarjetas*/
.contenedor-tarjetas {
    display: flex;
    justify-content: space-between; /* Distribuir las tarjetas de manera equidistante */
    max-width: 1700px; /* Ajusta según tus necesidades */
    margin: 0 auto; /* Centrar el contenedor */
  }

  .tarjeta {
    width: 600px;
    height: 600px;
    margin: 30px;
    perspective: 1000px; /* Profundidad de la perspectiva */

    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    align-self: flex-start;
  }

  .tarjeta:hover .cara-frontal {
    transform: rotateY(-180deg);
  }

  .tarjeta:hover .cara-trasera {
    transform: rotateY(0deg);
  }

/* Primera tarjeta */
.tarjeta:nth-child(1) .cara-frontal {
  background-image: url('fonexa.webp'); /* Ruta de la imagen frontal de la tarjeta 1 */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Segunda tarjeta */
.tarjeta:nth-child(2) .cara-frontal {
  background-image: url('ignetworks.webp'); /* Ruta de la imagen frontal de la tarjeta 2 */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

  .cara-frontal,
  .cara-trasera {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #3498db;
    color: white;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 10;
    margin-bottom: 30px;

  }

  .cara-trasera {
    transform: rotateY(180deg);
  }
  .tarjeta .cara-frontal {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    /* Otras propiedades... */
  }
  
  .tarjeta .cara-frontal p {
    margin-top: 200px; /* Ajusta el margen superior según tus necesidades */
    /* Otras propiedades... */
  }
  
  /*Aca termina las tarjetas*/

  .bio-section {
    text-align: center;
    padding: 50px;
    background-color: #333;
    max-width: 800px; /* Puedes ajustar este valor según sea necesario */
    margin: auto; /* Centra el contenedor horizontalmente */
}

.bio-section img {
    max-width: 38%; /* Ajusta el tamaño máximo de la imagen al 100% del contenedor */
    border-radius: 20%;
    margin-bottom: 20px;
}
#titulo {
  font-family: atrament-web, sans-serif;
  font-size: 2.5em;
  color: #3498db;
}
#demo {
  font-family: atrament-web, sans-serif;
  font-size: 1.5em;
}